.center-xy {
   display: flex;
   align-items: center;
   justify-content: center;
}
.center-y-start-x {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.position-relative {
   position: relative;
}
.center-y-end-x {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.text-center {
   text-align: center !important;
}
.text-start {
   text-align: start !important;
}
.text-end {
   text-align: end !important;
}
.text-white {
   color: white !important;
}
.text-done {
   color: #28a745;
}
.text-error {
   color: #ee4a19 !important;
}
.text-gray {
   color: #ada9a9;
}
.t-t-c {
   text-transform: capitalize;
}
.t-t-u {
   text-transform: uppercase;
}
.t-t-l {
   text-transform: lowercase;
}
.d-block {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.d-none {
   display: none !important;
}
.mx-auto {
   margin: auto;
}
.img-res {
   max-width: 100%;
   height: auto;
}
.cursor-pointer {
   cursor: pointer;
}
.w-100 {
   width: 100%;
}
.h-100 {
   height: 100%;
}
.h-100vh {
   height: 100vh;
}
